// Sidebar images
// TODO: lots of hardcoding, don't we have variables for some of this stuff?
//       also can 100% rewrite this to accept an arbitrary number of images

// Leave appropriate room at the top of the sidebar for the
// image + the absolutely-positioned search bar
.side {
	padding-top:
		$sidebar-section-margin-vertical +
		$sidebar-search-height +
		$sidebar-section-margin-vertical +
		$sidebar-image-height +
		$sidebar-section-margin-vertical +
		$sidebar-image-other-height;
}
// Search bar isn't there on search pages, it's moved to #content. Also, on
// search pages, the submit buttons are the first `.spacer`s which means they
// don't have the normal top margin, which means we need to add that back.
.search-page .side {
	padding-top:
		$sidebar-section-margin-vertical +
		$sidebar-image-height +
		$sidebar-section-margin-vertical +
		$sidebar-image-other-height +
		$sidebar-section-margin-vertical;
}

// Position the first image and also set some stuff for both images
.side [href*='#sidebarimg'] {
	position: absolute;
	top: $header-height + $sidebar-section-margin-vertical + $sidebar-search-height + $sidebar-section-margin-vertical;
	right: $sidebar-padding;
	width: 300px;
	height: $sidebar-image-height;
	border-radius: $sidebar-section-border-radius;
	background: url("images/sidebar.png") center/contain;
	
	// Again, search bar isn't there on search pages
	.search-page & {
		top: $header-height + $sidebar-section-margin-vertical;
	}
}

// Position the second image
input[name=uh] ~ a:after {
    position: absolute;
    top: 422px;
    right: 0px;
    z-index: 0;
    width: 300px;
    height: 228px;
    border: 0px; 
}

// Move the search bar above the images
.side #search {
	position: absolute;
	top: $header-height + $sidebar-section-margin-vertical;
}


// Overlay container to stop the random image from logging you out when clicked 
.side .usertext-body h3:last-of-type a {
    position: absolute;
    top: 441px;
    right: 0px;
    width: 300px;
    height: 228px;
    z-index: 100;
    border: 0;
    font-size: 0px; }

// Replace random images with sidebar 

// 36 random images to appear at the top of the sidebar 
input[name=uh][value^="0"] ~ a:after {content: url("images/sidebar.png")}
input[name=uh][value^="1"] ~ a:after {content: url("images/sidebar.png")}
input[name=uh][value^="2"] ~ a:after {content: url("images/sidebar.png")}
input[name=uh][value^="3"] ~ a:after {content: url("images/sidebar.png")}
input[name=uh][value^="4"] ~ a:after {content: url("images/sidebar.png")}
input[name=uh][value^="5"] ~ a:after {content: url("images/sidebar.png")}
input[name=uh][value^="6"] ~ a:after {content: url("images/sidebar.png")}
input[name=uh][value^="7"] ~ a:after {content: url("images/sidebar.png")}
input[name=uh][value^="8"] ~ a:after {content: url("images/sidebar.png")}
input[name=uh][value^="9"] ~ a:after {content: url("images/sidebar.png")}
input[name=uh][value^="a"] ~ a:after {content: url("images/sidebar.png")}
input[name=uh][value^="b"] ~ a:after {content: url("images/sidebar.png")}
input[name=uh][value^="c"] ~ a:after {content: url("images/sidebar2.png")}
input[name=uh][value^="d"] ~ a:after {content: url("images/sidebar2.png")}
input[name=uh][value^="e"] ~ a:after {content: url("images/sidebar2.png")}
input[name=uh][value^="f"] ~ a:after {content: url("images/sidebar2.png")}
input[name=uh][value^="g"] ~ a:after {content: url("images/sidebar2.png")}
input[name=uh][value^="h"] ~ a:after {content: url("images/sidebar2.png")}
input[name=uh][value^="i"] ~ a:after {content: url("images/sidebar2.png")}
input[name=uh][value^="j"] ~ a:after {content: url("images/sidebar2.png")}
input[name=uh][value^="k"] ~ a:after {content: url("images/sidebar2.png")}
input[name=uh][value^="l"] ~ a:after {content: url("images/sidebar2.png")}
input[name=uh][value^="m"] ~ a:after {content: url("images/sidebar2.png")}
input[name=uh][value^="n"] ~ a:after {content: url("images/sidebar2.png")}
input[name=uh][value^="o"] ~ a:after {content: url("images/general.png")}
input[name=uh][value^="p"] ~ a:after {content: url("images/general.png")}
input[name=uh][value^="q"] ~ a:after {content: url("images/general.png")}
input[name=uh][value^="r"] ~ a:after {content: url("images/general.png")}
input[name=uh][value^="s"] ~ a:after {content: url("images/general.png")}
input[name=uh][value^="t"] ~ a:after {content: url("images/general.png")}
input[name=uh][value^="u"] ~ a:after {content: url("images/general.png")}
input[name=uh][value^="v"] ~ a:after {content: url("images/general.png")}
input[name=uh][value^="w"] ~ a:after {content: url("images/general.png")}
input[name=uh][value^="x"] ~ a:after {content: url("images/general.png")}
input[name=uh][value^="y"] ~ a:after {content: url("images/general.png")}
input[name=uh][value^="z"] ~ a:after {content: url("images/general.png")}

// Non-Random image for users not logged in 
.user .login-required:after {
    display: block;
    content: url("images/sidebar.png");
    position: absolute;
    top: 22px;
    right: 0px;
    z-index: 0;
    width: 300px;
    height: 228px;
    border: 0px; }
